.allProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardProject {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 16rem;
  width: 94%;
  text-align: center;
  background-color: #dddddd;
  border-radius: 1rem;
}

.describe {
  text-align: left;
  padding: 0px 20px 10px;
}

@media screen and (min-width: 768px) {
  .allProject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cardProject {
    width: 90%;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .allProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardProject {
    margin-left: 1.5rem;
    width: 90%;
  }
}
